.playlistContainer {
  padding: 1rem;
  box-shadow: 1px 1px 2px #bbb;
  margin: 1rem;
  background-color: #ddd;
  display: flex;
  
  justify-content: center;
  border-radius: 5px;
}


.title{
font-size: 1.8rem;
margin-bottom: 0;
}

.albumDetails{
  margin-bottom: 1rem;
}

.flexRow{
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
}
.imgCollage{
  margin: .2rem;
}

.imgCollage:hover {
  transform: scale(.99);
}

@media screen and (max-width: 480px) {
  .imgCollage{
    display: none;
  }
  .flexRow{
    flex-direction: row;
    justify-content: space-evenly;
  }
  
}