.albumContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem;
}

.albumText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 .5rem;
}

.title{
  font-size: 1rem;
}

.times{
  color: red;
  transition: 120ms linear all;
  background-color: transparent;
  border: none;

}

.times:hover{
  color: black;
}

.times:focus {
  outline: none;
}