.albumHeaderContainer{
  padding: 4rem;
  background-color: steelblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pageTitle{
  font-size: 2.7rem;
  margin: 0 0 1rem 1rem;
}

.flex{
  display: flex;
}

.albumInfo{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 2rem 1rem 0;
}

.tracklist{
  list-style: none;
}

.tracklist li a{
  color: black;
}

@media screen and (max-width: 480px) {
  .flex {
    flex-direction: column;
  }
  .albumHeaderContainer{
    padding: 2rem;
    
  }
}

