.albumPlaylistsContainer{
  margin: 0 auto 5rem;
  padding: 1rem;

}

.flex {
  display: grid;
  margin: 2rem auto 4rem;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 480px) {
  .playlistListContainer {
    display: flex;
    overflow-x: scroll;
    max-width: 72rem;
  }
  .flex {
    display: grid;
    margin: 2rem auto 4rem;
    grid-template-columns: repeat(1, 1fr);
  }
}