.albumSearchResultsContainer{
  
  padding: 1rem;
}



.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 90rem;
  margin: 2rem 0 5rem;
}

.flex{
  display: flex;
  align-items: center;
}

.flexScroll{
  display: flex;
  overflow-x: scroll;
  max-width: 72rem;
}

.albumDetails{
  padding-left: .5rem;
  min-width: 8rem;
}

.items {
  background-color: #ddd;
  box-shadow: 1px 1px 2px black;
  padding: 1rem;
  margin: .5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  align-items: center;
  transition: all 120ms linear;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  
}

.button {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 2px solid #bbb;
}

.button:hover {
  box-shadow: 1px 1px 2px black;
}