.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 90rem;
}

.items {
  box-shadow: 1px 1px 2px black;
  padding: 1rem;
  margin: .5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 120ms linear;
}