.headerContainer{
  background-color: coral;
  padding: 4rem;
  height: 40vh;
  
}

.flexAlignStart{  
  display: flex;
  align-items: center;
  justify-content: start;
}

.flexColumn{  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  font-size: 4rem;
  margin-bottom: 1rem;
}

.username {
  color: #777;
  padding-left: 1rem;
}