// _buttons.scss
.btn {
  display: inline-block;
  color: $dark-text;
  padding: 8px 20px;
  margin: 3px;
  transition: $global-transistion;
  background-color: transparent;
  border: 2px solid $primary-color;
  &:hover {
    transform: scale(.98);
    color: $dark-text;
  }
}

.btn-primary-fill {
  @extend .btn;
  @include set-background(lighten($primary-color, 15%));
  border: 2px solid $primary-color;
}

.btn-secondary-fill {
  @extend .btn;
  @include set-background(lighten($secondary-color, 15%));
  border: 2px solid $secondary-color;
}

.btn-third-fill {
  @extend .btn;
  @include set-background(lighten($third-color, 15%));
  border: 2px solid $third-color;
}

.btn-primary {
  @extend .btn;
  border: 2px solid $primary-color;
}

.btn-secondary {
  @extend .btn;
  border: 2px solid $secondary-color;
}

.btn-third {
  @extend .btn;
  border: 2px solid $third-color;
}

.btn-icon {
  @extend .btn;
  border: 2px solid $icon-color;
}

.btn-primary-dark {
  @extend .btn;
  border: 2px solid $primary-color;
  color: $light-text;
  &:hover {
    color: $light-text;
  }
}

.btn-secondary-dark {
  @extend .btn;
  border: 2px solid $secondary-color;
  color: $light-text;
  &:hover {
    color: $light-text;
  }
}

.btn-third-dark {
  @extend .btn;
  border: 2px solid $third-color;
  color: $light-text;
  &:hover {
    color: $light-text;
  }
}

.btn-icon-dark {
  @extend .btn;
  border: 2px solid $icon-color;
  color: $light-text;
  &:hover {
    color: $light-text;
  }
}


