// _buttons.scss
.btn {
  display: inline-block;
  color: $light-text;
  padding: 8px 20px;
  margin: 3px;
  transition: $global-transistion;
  background-color: transparent;
  border: 2px solid $primary-color;
  &:hover {
    transform: scale(.98);
  }
}

.btn-primary {
  @extend .btn;
  @include set-background(lighten($primary-color, 15%));
  border: 2px solid $primary-color;
}

.btn-secondary {
  @extend .btn;
  border: 2px solid $secondary-color;
}

.btn-info {
  @extend .btn;
  border: 2px solid $third-color;
}

.btn-warning {
  @extend .btn;
  border: 2px solid $icon-color;
}


.btn-outline-primary {
  @extend .btn;
  background-color: transparent;
  border: 2px solid $primary-color;
  color: $primary-color
}

.btn-outline-secondary {
  @extend .btn;
  background-color: transparent;
  border: 2px solid $secondary-color;
  color: $secondary-color
}

.btn-outline-dark {
  @extend .btn;
  background-color: transparent;
  border: 2px solid $dark-color;
  color: $dark-color
}

.btn-pill {
  border-radius: 100px;
}
