@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
p {
  margin: .2rem 0 .2rem .5rem;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5rem 0 .5rem 0;
  padding: 0;
}

.card {
  -webkit-box-shadow: 1px 1px 2px #222;
          box-shadow: 1px 1px 2px #222;
  padding: 1rem;
  background-color: #f0eefc;
  color: #141414;
  border-radius: 5px;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
  margin: 1rem;
}

.btn, .btn-primary-fill, .btn-secondary-fill, .btn-third-fill, .btn-primary, .btn-secondary, .btn-third, .btn-icon, .btn-primary-dark, .btn-secondary-dark, .btn-third-dark, .btn-icon-dark {
  display: inline-block;
  color: #141414;
  padding: 8px 20px;
  margin: 3px;
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
  background-color: transparent;
  border: 2px solid #2967c5;
}

.btn:hover, .btn-primary-fill:hover, .btn-secondary-fill:hover, .btn-third-fill:hover, .btn-primary:hover, .btn-secondary:hover, .btn-third:hover, .btn-icon:hover, .btn-primary-dark:hover, .btn-secondary-dark:hover, .btn-third-dark:hover, .btn-icon-dark:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  color: #141414;
}

.btn-primary-fill {
  background-color: #5d90dd;
  color: #ebebeb;
  border: 2px solid #2967c5;
}

.btn-secondary-fill {
  background-color: #e0f7fe;
  color: #141414;
  border: 2px solid #97e3fa;
}

.btn-third-fill {
  background-color: #d596f9;
  color: #141414;
  border: 2px solid #b84ef5;
}

.btn-primary {
  border: 2px solid #2967c5;
}

.btn-secondary {
  border: 2px solid #97e3fa;
}

.btn-third {
  border: 2px solid #b84ef5;
}

.btn-icon {
  border: 2px solid #68f868;
}

.btn-primary-dark {
  border: 2px solid #2967c5;
  color: #ebebeb;
}

.btn-primary-dark:hover {
  color: #ebebeb;
}

.btn-secondary-dark {
  border: 2px solid #97e3fa;
  color: #ebebeb;
}

.btn-secondary-dark:hover {
  color: #ebebeb;
}

.btn-third-dark {
  border: 2px solid #b84ef5;
  color: #ebebeb;
}

.btn-third-dark:hover {
  color: #ebebeb;
}

.btn-icon-dark {
  border: 2px solid #68f868;
  color: #ebebeb;
}

.btn-icon-dark:hover {
  color: #ebebeb;
}

.nav-pills .nav-link.active {
  background-color: #b84ef5;
}

body {
  background-color: #f0eefc;
  color: #141414;
}

.flexAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexSpacing {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.containerExt {
  margin-bottom: 4rem;
}

a {
  color: #141414;
  font-weight: bold;
}

a:hover {
  color: #141414;
  font-weight: bold;
}

.textInput {
  font-size: 1rem;
  padding: .5rem .8rem;
  border-radius: 5px;
  border: 1px solid #aeaeae;
}

img {
  border-radius: 5px;
}
/*# sourceMappingURL=styles.css.map */